@page

@model ModuleCreation.Pages.Modules.ViewModuleModel
@{
}

<h1>:: View Modules ::</h1>
<br />
<div>
    <form>
        <p>
            Title:
            <select type="text" asp-for="Status">
                <option>All</option>
                @foreach (var item in Model.StatusItems)
                {
                    <option>@item</option>
                }
            </select>
            <input type="submit" value="Filter" class="btn btn-dark"/>
        </p>
    </form>
</div>
<br />

    @if (Model.Records.Count() > 0)
    {
    <p>There are @Model.Records.Count() modules found!</p>
    }
    else
    {
        <p>No module is found!</p>
    }

    <br />
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Name</td>
                    <td>Level</td>
                    <td>Year</td>
                    <td>Course</td>
                    <td>Status</td>
                    <td>Actions</td>
                </tr>
            </thead>
            @for (int i = 0; i < Model.Records.Count(); i++)
            {
                <tr>
                    <td>@Model.Records[i].ModuleCode</td>
                    <td>@Model.Records[i].ModuleName</td>
                    <td>@Model.Records[i].ModuleLevel</td>
                    <td>@Model.Records[i].Year</td>
                    <td>@Model.Records[i].Course</td>
                    <td>@Model.Records[i].ModuleOfferStatus</td>
                    <td><a asp-page="/Modules/UpdateModule" asp-route-id="@Model.Records[i].Id" >Update</a></td>
                </tr>
            }

        </table>
    </div>

